* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/* MENU */

.makaroni-biasa {
  margin-top: 200px;
}

.title-menu {
  position: relative;
  top: 90px;
  width: 100vh;
  margin-left: 250px;
  margin-top: 100px;
}

.title-menu h1 {
  font-size: 84px;
  font-weight: bold;
  margin-top: 50px;
}

.menu p {
  position: relative;
  top: 20px;
  font-weight: 500;
  letter-spacing: 0.015em;
}

.hero1-menu,
hero2-menu {
  width: 520px;
  height: 520px;
}

.hero1-menu img {
  margin-top: 200px;
  margin-left: 130%;
}

.hero2-menu img {
  margin-left: 200px;
  margin-top: 300px;
}

.biasa-menu {
  margin-left: 67%;
  margin-top: -225px;
}

.special-menu {
  margin-left: 200px;
}

.special-menu h3 {
  color: #d4d4d4;
}
/* MAKARONI BIASA */

.title-biasa {
  margin-bottom: 200px;
}

.title-biasa h1 {
  font-size: 64px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4em;
}

.makaroni-biasa h4 {
  font-weight: 700;
  font-style: italic;
  color: #5f5a5a;
  padding-top: 30px;
  margin-bottom: 30px;
  margin-left: 55px;
}

.kering-biasa,
.basah-biasa,
.lidi-biasa {
  display: flex;
  width: 690px;
  height: 260px;
  margin-left: 120px;
  border: solid 2px #f0f42d;
  background-color: white;
  border-radius: 10px;
}

.kering-gallery,
.basah-gallery,
.lidi-gallery {
  background: rgba(210, 203, 203, 0.76);
  height: 350px;
  margin: 50px 100px 50px 120px;
}

.box-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gallery {
  width: 360px;
  height: 220px;
  background-color: #c4c4c4;
}

.makaroni-biasa img {
  border-right: solid 2px #000000;
  margin-left: 30px;
  padding-right: 30px;
  margin-top: 5%;
}

.makaroni-biasa h3 {
  margin-top: 15%;
}

.makaroni-biasa h3,
.makaroni-biasa p {
  margin-left: 30px;
}

/*MAKARONI SPECIAL*/

.makaroni-special {
  margin-top: 200px;
}

.title-special h1 {
  font-size: 64px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4em;
}

.container-special {
  margin-top: 200px;
  display: grid;
  row-gap: 150px;
  grid-template-rows: 43vh 44vh 45vh 38vh;
  margin-bottom: 200px;
}

.container-special p {
  letter-spacing: 0.02em;
  line-height: 2em;
  font-size: 18px;
  font-weight: 400;
  margin: 10% 80px 0px 80px;
}

.container-special img,
.container-special h2 {
  padding: 5px 80px 20px 80px;
}

.container-special h2 {
  line-height: 1.5em;
  font-weight: 700;
  font-size: 24px;
}

.hero-special1,
.hero-special3 {
  border-right: 4px solid rgba(0, 0, 0, 0.25);
}

.hero-special2,
.hero-special4 {
  border-left: 4px solid rgba(0, 0, 0, 0.25);
}

.special1,
.special2,
.special3,
.special4 {
  top: 30px;
  border-spacing: 15px;
  display: flex;
  position: relative;
}

.special2,
.special4 {
  top: 60px;
  margin-right: 110px;
  margin-left: auto;
}

.special1,
.special3 {
  margin-left: 110px;
}

.special4 {
  top: 110px;
}

.special3 {
  top: 80px;
}

.special4 p,
.special1 p {
  margin-top: 0px;
  margin-top: 5%;
}

.lingkaran-menu {
  background-color: #d4ef2f;
  opacity: 40%;
  width: 800px;
  height: 800px;
  border-radius: 1000px;
  z-index: -3;
  top: 5950px;
  left: -400px;
  position: absolute;
}

.kotakan {
  background-color: rgba(212, 239, 47, 0.77);
  opacity: 0.6;
  width: 548px;
  height: 460px;
  border-radius: 75px;
  z-index: -3;
  top: 5000px;
  right: -150px;
  position: absolute;
  transform: rotate(29.5deg);
}

.garis-menu {
  z-index: -2;
  top: 6220px;
  right: 1px;
  position: absolute;
}

.garis1 {
  z-index: -2;
  top: 5235px;
  right: 1px;
  position: absolute;
}

.garis2 {
  z-index: -2;
  top: 5730px;
  right: 1px;
  position: absolute;
}

.plus1,
.plus2,
.plus3,
.plus4 {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 300px;
  top: 4800px;
  z-index: 2;
  border-radius: px;
  transform: rotate(55deg);
}

.plus2 {
  left: 200px;
  top: 5300px;
  transform: rotate(25deg);
}

.plus3 {
  top: 5900px;
  right: 200px;
  transform: rotate(10deg);
}

.plus4 {
  left: 200px;
  top: 6250px;
  transform: rotate(75deg);
}

.bunder,
.bunder4,
.bunder2,
.bunder3 {
  position: absolute;
  border-radius: 500px;
  width: 70px;
  height: 70px;
  left: 530px;
  top: 5780px;
  z-index: 3;
  background: rgba(52, 137, 216, 0.58);
}

.bunder4 {
  left: 911px;
  top: 6280px;
  background: rgba(163, 52, 216, 0.58);
}

.bunder2 {
  top: 4820px;
  left: 547px;
  background: rgba(104, 216, 52, 0.58);
}

.bunder3 {
  left: 940px;
  top: 5300px;
  background: rgba(52, 216, 176, 0.58);
}

.pasta {
  width: 750px;
  height: 700px;
  z-index: -3;
  top: 3700px;
  position: absolute;
  right: -200px;
  transform: rotate(0.89deg);
}

.pasta img {
  max-width: 100%;
  max-height: 100%;
}

.balok1 {
  position: absolute;
  width: 332px;
  height: 1000px;
  top: 3000px;
  left: -20px;
  z-index: -3;
}

.balok2 {
  position: absolute;
  width: 209px;
  height: 1000px;
  top: 1900px;
  right: 70px;
  z-index: -3;
}

.balok1,
.balok2 {
  max-width: 100%;
  max-height: 100%;
}

.bingkai-menu1 {
  position: absolute;
  z-index: 3;
  top: 150px;
  right: 400px;
}

.bingkai-menu2 {
  position: absolute;
  width: 500px;
  height: 39px;
  right: 50px;
  top: 1493px;
  z-index: -1;
  background: #feb849;
}

.bingkai-menu3 {
  position: absolute;
  width: 34px;
  height: 420px;
  right: 515px;
  top: 980px;
  z-index: -1;
  background: #ca000c;
}

.bingkai-menu4 {
  position: absolute;
  width: 384px;
  height: 35px;
  left: 100px;
  top: 730px;
  z-index: -1;
  background: #ca000c;
}

.bingkai-menu5 {
  position: absolute;
  width: 30px;
  height: 340px;
  z-index: -1;
  left: 534px;
  top: 375px;

  background: #feb849;
}
